.container {
  display: flex;
  align-items: center;

  .col {
    display: flex;
    flex: 1;
    padding: 1.8vw 0 1.8vw 15vw;
    align-items: center;
    .navigationLinks {
      display: flex;
      flex: 1;
      justify-content: space-evenly;
    }
  }

  .searchbarContainer {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 11vw;
  }
}
